body {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    align-items: center;
    width: stretch;
}

#logo {
    margin-left: 10px;
}

.search-bar {
    display: flex;
    justify-self: center;
    border-style: solid;
    border-radius: 50px;;
    width: 500px;
    padding: 6px;
    margin-left: 20px;
}

#search-box {
    width:450px;
}

#clear {
    border-right-style: solid;
}
.apps-account {
    margin-left: auto;
}